<section class="section">
    <h2>FAQ</h2>

    <div class="content">
        <div class="faq-block">
            <h3 class="faq-block__title">Сколько стоит подписка в месяц?</h3>
            <p class="faq-block__text">50$ в месяц (Если оплата происходит в Рублях, то конвертация осуществляется по курсу ЦБ)</p>
        </div>
        <div class="faq-block">
            <h3 class="faq-block__title">Можно ли перепродавать лицензии?</h3>
            <p class="faq-block__text">Нет, перепродажа лицензий строго запрещена!</p>
        </div>
        <div class="faq-block">
            <h3 class="faq-block__title">Как к вам попасть?</h3>
            <p class="faq-block__text">Ожидать информацию в нашей группе или в группах партнеров!</p>
        </div>
        <div class="faq-block">
            <h3 class="faq-block__title">Предоставляете ли вы возврат стоимости?</h3>
            <p class="faq-block__text">Мы готовы предоставить возврат стоимости,  только если это является адекватной причиной!</p>
        </div>
    </div>
</section>