<section class="section">
    <h2>FAQ</h2>

    <div class="content">
        <div class="faq-block">
            <h3 class="faq-block__title">Можно ли перепродавать лицензии?</h3>
            <p class="faq-block__text">Сколько стоит подписка в месяц? - 50$ в месяц (Если оплата происходит в Рублях, то конвертация осуществляется по курсу ЦБ)</p>
        </div>
        <div class="faq-block">
            <h3 class="faq-block__title">Можно ли перепродавать лицензии?</h3>
            <p class="faq-block__text">Можно ли перепродавать лицензии? - Нет, перепродажа лицензий строго запрещена!</p>
        </div>
        <div class="faq-block">
            <h3 class="faq-block__title">Как к вам попасть?</h3>
            <p class="faq-block__text">Как к вам попасть? - Ожидать информацию в нашей группу или в группах партнеров!</p>
        </div>
        <div class="faq-block">
            <h3 class="faq-block__title">Представляете ли вы возврат стоимости?</h3>
            <p class="faq-block__text">Представляете ли вы возврат стоимости? - Мы готовы предоставить возврат стоимости,  только если это является адекватной причиной!</p>
        </div>
    </div>
</section>