section{
    row-gap: 64px;
}

.content{
    display: grid;
    row-gap: 40px;
}

.faq-block{
    display: grid;
    row-gap: 8px;
    &__title{
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #04B2BF;
    }
    &__text{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}