<section class="section">
    <div class="anchor" id="about"></div>
    <div class="">
        <h2 class="section__title">О нас</h2>
    </div>
    
    <div class="content">
        <div class="about-list">
            <div class="about-block">
                <h3 class="about-block__title">Гайды</h3>
                <p class="about-block__description">Мы представляем гайды на все темы, в которых разбираемся. Всё расписано пошагово, поймёт даже новичок</p>
            </div>
            
            <div class="about-block">
                <h3 class="about-block__title">Аналитика</h3>
                <p class="about-block__description">Расскажем, на что стоит обратить внимание из предстоящих релизов в сферах NFT, Crypto, техники, одежды, обуви и др.</p>
            </div>
            
            <div class="about-block">
                <h3 class="about-block__title">Мониторы</h3>
                <p class="about-block__description">У нас есть мониторинг всех основных магазинов и проектов. Если у участников есть запрос на новый монитор, он появится в течение 1-3 дней!</p>
            </div>
            
            <div class="about-block">
                <h3 class="about-block__title">Steam</h3>
                <p class="about-block__description">Мы единственные, кто расскажет про заработок на Steam. Поможем настроить бота, который приносит 20-30% в месяц.</p>
            </div>
            
            <div class="about-block">
                <h3 class="about-block__title">Партнёры</h3>
                <p class="about-block__description">Мы сотрудничаем с различными проектами, которые предлагают нашим участникам эксклюзивные предложения.</p>
            </div>
            
            <div class="about-block">
                <h3 class="about-block__title">Бесплатные слоты</h3>
                <p class="about-block__description">Каждый месяц мы проводим конкурс на бесплатные слоты на популярные дропы и не только.</p>
            </div>
        </div>
        <app-planetary-system></app-planetary-system>
    </div>
</section>