$tab-size: 780px;

footer{
    grid-template-columns: auto 1fr auto;
    column-gap: 80px;
    row-gap: 32px;
    position: relative;
    @media screen and ( max-width: $tab-size ) {
        grid-template-columns: 1fr auto;
    }
}

img{ 
    @media screen and ( max-width: $tab-size ) {
        height: 56px;
    }
}

ul{
    list-style: none;
    column-gap: 64px;
    justify-content: start;
    @media screen and ( max-width: 925px ) {
        justify-content: center;
    }
    
    @media screen and ( max-width: $tab-size ) {
        grid-auto-flow: row;    
        grid-column: 1/3;
        grid-row: 2/3;
        justify-content: stretch;
    }
    
    li{
        display: grid;
        @media screen and ( max-width: $tab-size ) {
            &:first-child a{
                border-top: 1px solid #999;
            }
        }
    }
    li a{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        transition: .3s;
        text-align: center;
        @media screen and ( max-width: $tab-size ) {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            padding: 12px;
            border-bottom: 1px solid #999;
        }
        &:hover{
            color: #04B2BF;
        }

    }
}
    


#to-main{
    column-gap: 16px;
    @media screen and ( max-width: 925px ) {
        span{
            display: none;
        }
    }
    .btn-outline{
        border-radius: 50%;
        width: 44px;
        height: 44px;
        svg path{
            transition: .3s;
        }
    }
    
    &:hover .btn-outline{
        background-color: #04B2BF;
        border-color: inherit !important;
        svg path{
            stroke: #0B0B0B;
        }
    }
}