<footer class="row">
    <div class="anchor" id="contacts"></div>
    <img src="/assets/branding/logo.png" alt="ALPartier">
    <ul class="row">
        <li><a href="https://vk.com/alpartier" target="_blank" rel="noopener">VKontakte</a></li>
        <!-- <li><a href="" target="_blank" rel="noopener">Discord</a></li> -->
        <!-- <li><a href="" target="_blank" rel="noopener">VKontakte</a></li> -->
    </ul>

    <a routerLink="" fragment="main" class="row" id="to-main" (click)="scrollToMain()">
        <span class="full-page">Вернуться на главную</span>
        <span class="tablet-page">Наверх</span>
        <button class="btn-outline">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
                <path d="M5 16V8.5V1M5 1L1 4M5 1L9 4" stroke="#04B2BF" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </a>
</footer>