<header class="bg-response">
    <div class="anchor" id="main"></div>
    <app-navbar></app-navbar>
    <div class="main">
        <h1 class="main__title">ALPartier</h1>
        <div class="main__description">
            <p class="main__about">
                Закрытое сообщество. <br>
                Даём информацию о предстоящих релизах.
            </p>
            <app-text-animation></app-text-animation>
        </div>
        <button class="btn-primary">Sold Out</button>
    </div>
</header>