<div class="system">

    <div class="system__circle system__circle--dashed">
        <div>
            <img src="/assets/planetary-system/1.png" alt="">
            <img src="/assets/planetary-system/2.png" alt="">
        </div>
    </div>

    <div class="system__circle system__circle--solid">
        <div>
            <img src="/assets/planetary-system/3.png" alt="">
            <img src="/assets/planetary-system/4.png" alt="">
        </div>
    </div>

    <div class="system__circle system__circle--dashed">
        <div>
            <img src="/assets/planetary-system/5.png" alt="">
            <img src="/assets/planetary-system/6.png" alt="">
        </div>
    </div>

    <div class="system__circle system__circle--solid"></div>

    <img src="/assets/logo.png" alt="">


</div>