<div class="system">

    <div class="system__circle system__circle--dashed">
        <div>
            <img src="/assets/planetary-system/test.png" alt="">
            <img src="/assets/planetary-system/test.png" alt="">
        </div>
    </div>

    <div class="system__circle system__circle--solid">
        <div>
            <img src="/assets/planetary-system/test.png" alt="">
            <img src="/assets/planetary-system/test.png" alt="">
        </div>
    </div>

    <div class="system__circle system__circle--dashed">
        <div>
            <img src="/assets/planetary-system/test.png" alt="">
            <img src="/assets/planetary-system/test.png" alt="">
        </div>
    </div>

    <div class="system__circle system__circle--solid"></div>

    <img src="/assets/logo.png" alt="">


</div>