$tab-size: 780px;

:host{
    display: grid;
}

main{
    display: grid;
    padding: 120px 60px;
    box-sizing: border-box;
    row-gap: 320px;
    @media screen and ( max-width: 900px) {
        padding: 60px;
        row-gap: 180px;   
    }
    @media screen and ( max-width: $tab-size ) {
        padding: 40px 16px 58px;
    }

    >*{
        max-width: 1240px;
        width: 100%;
        justify-self: center;
    }
}


app-faq-tablet{
    display: none;
    @media screen and ( max-width: 900px ) {
        display: grid;
    }
}

app-faq{
    @media screen and ( max-width: 900px ) {
        display: none;
    }
}