<section class="section">
    <div class="anchor" id="faq"></div>
    <h2 class="section__title">FAQ</h2>

    <div class="content">
        <div class="questions">
            <h3 class="questions__item" (mouseenter)="activeQuestion = 1" [class.active]="activeQuestion == 1">Сколько стоит подписка в месяц?</h3>
            <h3 class="questions__item" (mouseenter)="activeQuestion = 2" [class.active]="activeQuestion == 2">Можно ли перепродавать лицензии?</h3>
            <h3 class="questions__item" (mouseenter)="activeQuestion = 3" [class.active]="activeQuestion == 3">Как к вам попасть?</h3>
            <h3 class="questions__item" (mouseenter)="activeQuestion = 4" [class.active]="activeQuestion == 4">Предоставляете ли вы возврат стоимости?</h3>
        </div>
        <div class="answere">
            <p [class.active]="activeQuestion == 1">50$ в месяц (Если оплата происходит в Рублях, то конвертация осуществляется по курсу ЦБ)</p>
            <p [class.active]="activeQuestion == 2">Нет, перепродажа лицензий строго запрещена!</p>
            <p [class.active]="activeQuestion == 3">Ожидать информацию в нашей группе или в группах партнеров! </p>
            <p [class.active]="activeQuestion == 4">Мы готовы предоставить возврат стоимости,  только если это является адекватной причиной!</p>
        </div>
    </div>
</section>